[Unit]
Description=Electrum Rust Server (Ordpool)
Requires=bitcoind.service
After=bitcoind.service

[Service]
Type=simple
User=ord-dev
WorkingDirectory=/home/ord-dev/ordpool-electrs
ExecStart=/home/ord-dev/ordpool-electrs/target/release/electrs -v --daemon-dir /home/ord-dev/.bitcoin --lightmode
Restart=on-failure
RestartSec=60
Environment="RUST_BACKTRACE=1"

# Optional: Security hardening
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true
MemoryDenyWriteExecute=true

# Increase the File Descriptor Limit for electrs
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
